@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <span class="text-white me-3">
            <i class="bi bi-person-circle"></i> @GetDisplayName(context.User)
        </span>
        <a href="MicrosoftIdentity/Account/SignOut" class="btn btn-outline-light btn-sm">Sign out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-light btn-sm">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string GetDisplayName(ClaimsPrincipal user)
    {
        // Try different claims for display name
        return user.FindFirst("name")?.Value
            ?? user.FindFirst("preferred_username")?.Value
            ?? user.Identity?.Name
            ?? "User";
    }
}
